# Problem 1
Bir YetGenli yeni aldığı bahçesinin etrafına çit çevirmek istiyor. Bahçenin etrafını çit ile çevirmek için gerekli çit uzunluğunu ve bahçenin alanını hesaplayan fonksiyonu yazınız.

In [7]:
# 1.Problemin Çözümünü Buraya Yazınız
def bahce(uzunluk, en):
    print(uzunluk*en)
bahce(5,3)

15
2
3
4

# Problem 2
Kendisine gönderilen 2 sayı arasındaki tüm asal sayıları bulan fonksiyonu yazınız.

In [30]:
# 2.Problemin Çözümünü Buraya Yazınız

def asal(sayi1, sayi2):
    asal_degil =[]
    asal_test=[]
    asal_son=[]
    for i in range(sayi1+1,sayi2):
        asal_test.append(i)
        for j in range(2,i):
            if i%j ==0:
                asal_degil.append(i)
                break
    for i in range(sayi1+1,sayi2):
        if i not in asal_degil and asal_test:
            asal_son.append(i)
    return(asal_son)
    
asal(2,15)

[3, 5, 7, 11, 13]

# Problem 3
YetGen liderlerinin kurdukları girişim unicorn oluyor. YetGen liderleri iş arkadaşlarının alacağı ücretlerini hesaplamak için bir fonksiyon yazdılar. Bu fonksiyonu kullanarak, YetGen liderlerinin iş arkadaşlarına verecekleri ücretleri hesaplayınız.

Ücret hesaplanması çalışma saatine bağlıdır. Bunun için kullanıcıdan çalışma saati bilgisinn alın. Sonrasında yapılacak ödemenin hesaplanacağı computePay() adlı bir fonksiyon oluşturun. Bu fonksiyonun içinde işlemler yapın. Çalışma saati 40 ve altındaysa saat başına ücret 10 TL’dir. 40 saatin üstünde çalışıldıysa saat başına ücret 15 TL sayılmaktadır.

```
Test etmek için 30 saat değerini giriniz,  sonuç 300 TL çıkmalı, 
ikincil test olarak 50 değerini giriniz,  sonuç 750 TL çıkmalı.
```

In [36]:
# 3.Problemin Çözümünü Buraya Yazınız
def computePay(saat):
    if saat<=40:
        ucret =saat*10
    else:
        ucret=saat*15
    return(ucret)
print(computePay(30))
print(computePay(50))

300
750

# Problem 4
YetGenliler zirveye gitmek için toplanıyor. Zirveye gitmek için kiraladıkları araçlar 4'er kişiliktir. Gelecek kişi sayısı için Airtable üzerinde form açılıyor. Gelecek kişi sayısını alıp dört kişilik araçlara bölüp kalan kişi sayısını döndüren bir fonksiyon yazınız.

In [41]:
# 4.Problemin Çözümünü Buraya Yazınız
def kalan(kisi_sayisi):
    kalan_kisi = kisi_sayisi%4
    return(kalan_kisi)

3

# Problem 5
sayiTopla() adında bir fonksiyon yazın. sayiTopla() fonksiyonu girilen sayıları toplayarak yazdırmasını sağlayan bir fonksiyon yazınız.

Örneğin sayiTopla(1,2,3,4,5) yazdığımızda 15 çıktısını almalıyız. sayiTopla(1,2,3,4,5,6,7,8,9,10) yazdığımızda 55 çıktısını almalıyız.

In [45]:
# 5.Problemin Çözümünü Buraya Yazınız
def sayiTopla(*x):
    sayi_list=[*x]
    toplam=sum(sayi_list)
    return(toplam)
print(sayiTopla(1,2,3,4,5))
print(sayiTopla(1,2,3,4,5,6,7,8,9,10))

15
55

# Problem 6

[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)] listesi içerisinde verilen elemanların her birini tuple içindeki 2. Elemana göre sıralayınız.

In [70]:
# 6.Problemin Çözümünü Buraya Yazınız
fun_list = [("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)]
fun_list2 = [x for i in fun_list for x in i]
fun_list3 =[]
for i in fun_list2:
    if type(i) == int:
        fun_list3.append(i)
sorted(fun_list3)

[1, 1, 2, 3, 4, 9, 13, 26]

# Problem 7
List comprehension kullanarak 1'den 100'e kadar olan sayılardan sadece çift sayıları bir listeye atmayı yapmayı çalışın.

In [83]:
# 7.Problemin Çözümünü Buraya Yazınız
list=[]
for i in range(0,101):
    list.append(i)
list2= [i for i in list if i%2==0]
print(list2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]